/* Estilo geral do cabeçalho */

* {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

body {
    background: linear-gradient(to right, #000000 45%, #0073e6 100%);
    background-size: 200% 100%; /* Define o tamanho do background */
    animation: mygradient 10s ease infinite;
}

@keyframes mygradient {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


header {
    color: #ffffff;
}


.whatsapp-contact {
    position: fixed;
    width: 50px;
    bottom: 0; /* Posiciona a imagem na parte inferior da tela */
    right: 0; /* Posiciona a imagem à esquerda da tela */
    padding: 0px 20px 20px 0px;
    cursor: pointer;
}

/* Estilo da coluna da esquerda (lado preto) */
.profile-container {
    display: flex;
    margin: left;
    padding: 50px 0px 0px 50px;
}

/* Estilo da coluna da direita (com imagem de fundo ocupando 50% da largura) */
.profile-info-container {
    display: flex;
    align-items: center;
}


.icon-code {
    width: 2rem;
    padding-left: 1rem;
}

.profile-img {
    position: relative;
    max-width: 150px;
    border-radius: 100px;
}

.profile-info h1 {
    font-size: 40px;
    padding-left: 20px;
}

.profile-info h2 {
    font-size: 30px;
    padding-left: 20px;
}

/*estilos dos menus de navegação*/

.menu-nav {
    padding: 0px 0px 0px 0px;
}

.menu-nav ul {
    display: flex;
    justify-content:center; /* Espaço igual entre os itens */
    list-style-type: none; /* Remove os marcadores de lista */
}

.menu-nav li {
    padding: 40px 60px 0px 0px;
}

.menu-nav a {
    font-size: 1.125rem;
    color: #ffffff;
    text-decoration: none;

}

/* estilos section about */

main h1 {
    padding: 40px 0px 40px 40px;
}

.section-about {
    display: flex;
    /* Use flexbox para criar uma divisão em duas colunas */
    color: #ffffff;
    padding-inline: 10vw;
    padding-bottom: 50px;

}

.text-about h2 {
    padding-bottom: 10PX;
}

.text-about h3 {
    padding-top: 20PX;
    padding-bottom: 10PX;
}

.info-contato {
    display: flex;
    justify-content: space-between;
}

.minhas-skills {
    color: #fff;
}

.minhas-skills p {
    padding: 0px 0px 40px 40px;
}

.skills-container {
    text-align: center;
}

.icon-skills {
    width: 3rem;
    padding: 0 5rem 5rem 0;
}